{% extends 'home.html' %}

{% block title %}
    About Us
{% endblock %}

{% block data %}
    <div class="container" style="display: flex; justify-content: center; align-items: center; height: 70vh;">
        <div class="row">
            <div class="card text-center" style="width: 30rem">
              <div class="card-body">
                  <h3 class="card-title" style="font-size: 24px; color: green"><b>About Us</b></h3>
                <p class="card-text">This project is only made for learning purposes.</p>
                <a href="#" class="btn rounded-pill btn-outline-success" style="margin-top: 15px" target="_blank">Github</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block pagination %}
{% endblock %}