<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{#     -----------------------------------#}
    <title>{% block title %}Home{% endblock %}</title>
{#        --------------------------------------#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">

</script>

{% load static %}
{% load humanize %}
<div class="container">

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="{% static 'ico.png' %}" alt="logo">
          <span class="fs-4"><b>TazaKhabre</b></span>
      </a>
{#        ----------------------------------------#}
        {% block header %}

            <div class="dropdown">
                <a class="btn rounded-pill btn-outline-info" role="button" style="margin-right: 10px;" href="{% url 'home-page' %}">Trending</a>
                <button class="btn rounded-pill btn-outline-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home-page' %}?category=business">Business</a></li>
                    <li><a class="dropdown-item" href="{% url 'home-page' %}?category=entertainment">Entertainment</a></li>
                    <li><a class="dropdown-item" href="{% url 'home-page' %}?category=health">Health</a></li>
                    <li><a class="dropdown-item" href="{% url 'home-page' %}?category=science">Science</a></li>
                    <li><a class="dropdown-item" href="{% url 'home-page' %}?category=sports">Sports</a></li>
                    <li><a class="dropdown-item" href="{% url 'home-page' %}?category=technology">Technology</a></li>
                </ul>
            </div>


          <div class="col-md-3 text-end">
            <form method="GET" class="d-flex" role="search" action="{% url 'search-news' %}">
                <input class="input is-success" type="search" placeholder="Search the News" aria-label="Search" style="margin-right: 10px" name="search" maxlength="500" required>
                <button class="btn rounded-pill btn-outline-success" type="submit">Search</button>
            </form>
          </div>

        {% endblock %}
{#        -------------------------------------#}
    </header>
    </div>


{% block data %}
    <div class="container-sm">
        <div class="row" style="display:flex; justify-content: space-evenly; min-height: 75vh">
            <div class="col-sm-6">
                {% for article in articles %}
                    {% if article.urlToImage != None and article.description != None %}
                    <div class="shadow" style="margin-bottom: 30px">
                        <div class="card mb-3">
                          <img src="{{ article.urlToImage }}" class="card-img-top" alt="Image didn't load Properly..">
                          <div class="card-body">
                              <h5 class="card-title" ><b><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></b></h5>
                            <p class="card-text">{{ article.description }}</p>
                            <blockquote class="blockquote mb-0">
                              <hr>
                              <footer class="blockquote-footer">Published by <cite title="Source Title">{{ article.source.name }} (At - {{ article.publishedAt }})</cite></footer>
                            </blockquote>
                          </div>
                        </div>
                    </div>
                    {% endif %}
                {% empty %}
                    <div class="container">
                        <div class="row" style="display: flex; justify-content: center; align-content: center; height: 60vh">
                            <img src="{% static 'oops.png' %}" style="width: 128px; height: 120px" alt="oops image">
                            <p class="text-center">You have reached your daily limit, Try again tomorrow.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4">
                <div class="shadow">
                    <div class="card text-center mb-3">
                        <div class="card-header bg-transparent text-danger" style="justify-content: center;"><b>Subscribe to our newsletter</b></div>
                      <div class="card-body text-danger">
                        <p class="card-text">Complete the subscription to daily receive or news alerts.</p>
                          <form method="Post" action="{% url 'subscribe' %}">
                              {% csrf_token %}
                              <div class="mb-3">
                                  <input class="input is-danger" type="email" placeholder="Enter Email" name="email" required>
                              </div>
                              <button type="submit" class="btn rounded-pill btn-outline-danger">Subscribe</button>
                          </form>
                      </div>
                      <div class="card-footer bg-transparent text-danger" style="justify-content: center">
                          {% if messages %}
                              {% for message in messages %}
                                    {% if message.tags == 'success' %}
                                        <p style="color: green">{{ message }}</p>
                                    {% elif message.tags == 'error' %}
                                        <p style="color: red">{{ message }}</p>
                                    {% endif %}
                              {% endfor %}
                          {% else %}
                                We'll never share your email with anyone else.
                          {% endif %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
{% endblock %}

{% block pagination %}
    <div class="container" style="display: flex; justify-content: center; margin-bottom: 25px">
     <nav aria-label="Page navigation example">
      <ul class="pagination">

          {% if previous > 0 %}
              <li class="page-item"><a class="page-link" href="{{ url }}page={{ previous }}">Back</a></li>
          {% else %}
              <li class="page-item"><a class="page-link">Back</a></li>
          {% endif %}
                <li class="page-item"><a class="page-link">{{ current }}</a></li>
                <li class="page-item"><a class="page-link" href="{{ url }}page={{ next }}">Next</a></li>

      </ul>
     </nav>
    </div>
{% endblock %}

<div class="container">

      <footer class="py-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="{% url 'home-page' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="{% url 'about-us' %}" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 TazaKhabre, Pvt Project.</p>
      </footer>

</div>

</body>
</html>